---
title: {{ post_title }}
date: {{ post_date }}
tags: {{ post_tags }}
img_path: {{ img_path }}
author: {{ post_author | default('electra_vox') }}
image:
  path: {{ post_image }}
  alt: {{ image_caption }}
---

{{ post_content }}
